{% set relations = elementRelationsGetRelations(element) %}
{% set seomaticGlobal = elementRelationsIsUsedInSeomaticGlobalSettings(element) %}

{% if not relations and not seomaticGlobal %}
    <span style="color: red">{{ 'field-value-unused' | t('element-relations') }}</span>
{% else %}
    {{ elementRelationsElementPreviewHtml(relations) | raw }}
    {% if seomaticGlobal %}
        {{ 'field-value-seomatic-global' | t('element-relations') }}
    {% endif %}
{% endif %}
