<div class="element-relations-lazy" data-id="{{ id }}">
    <div class="spinner"></div>
</div>
<script>
    (async () => {
        const $container = document.querySelector('[data-id="{{ id }}"].element-relations-lazy')
        const request = await fetch('{{ endpoint | raw }}')
        $container.innerHTML = await request.text()
    })()
</script>
